@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme {
  --color-fond: #FFFFFF;
  --color-encre: #1E1B2E;
  --color-argile: #6118A5;
  --color-argile-fonce: #4C1385;
  --color-mousse: #2E9E5B;
  --color-sable: #F3EAFB;
  --color-ligne: #E5E1EC;

  --font-display: "Fraunces", serif;
  --font-corps: "Work Sans", sans-serif;
  --font-donnees: "IBM Plex Mono", monospace;
}

body {
  background-color: var(--color-fond);
  color: var(--color-encre);
  font-family: var(--font-corps);
}
@keyframes defilement-avis {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-defilement-avis {
  animation: defilement-avis 35s linear infinite;
}