@import "tailwindcss";

@theme {
  --color-fond: #FBFAF6;
  --color-encre: #22333B;
  --color-argile: #BC5B39;
  --color-argile-fonce: #9C4527;
  --color-mousse: #5B6B4F;
  --color-sable: #E4D8C3;
  --color-ligne: #D8CFC0;

  --font-display: "Fraunces", serif;
  --font-corps: "Work Sans", sans-serif;
  --font-donnees: "IBM Plex Mono", monospace;
}

body {
  background-color: var(--color-fond);
  color: var(--color-encre);
  font-family: var(--font-corps);
}